
        <div class="container">


    <div class="form-camelot-admin">
      <h2 class="form-signin-heading">UserGroup: {{userGroupDetailsForm.titleInternal}} (<a href="/admin/console#/usergroup/edit/{{userGroupDetailsForm.id}}">EDIT</a> | <a href="/admin/console#/usergroup">View All</a>)</h2>
      <div class="row">


        <div class="control-group form-group col-md-12">
          <label>Title (External)</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.titleExternal}}</div>
        </div>

        <div class="control-group form-group col-md-12">
          <label>Title (Internal)</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.titleInternal}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Address1</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.address1}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Address2</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.address2}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Address3</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.address3}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Address4</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.address4}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>City</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.city}}</div>
        </div>

        <div class="control-group form-group col-md-12">
          <label>State</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.state}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Zip</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.zip}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Country</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.country.name}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>PhoneCountryCode</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.phoneCountryCode}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>PhoneNumber</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.phoneNumber}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>FaxNumber</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.faxNumber}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Url</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.url}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Designation</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.designation}}</div>
        </div>
        
        <div class="control-group form-group col-md-12">
          <label>Active?</label>
          <div class="view-label-camelot-admin">{{userGroupDetailsForm.active}}</div>
        </div>
        
      <br/>
    </div>




        </div>

	